body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.key-input {
  width: 300px;
  font-size: 24px;
  margin-top: 50px;
  text-align: center;
}

.key-submit-button {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 24px;
  text-align: center;
}
